-- CreateEnum
CREATE TYPE "Priority" AS ENUM ('A_PLUS', 'A', 'B', 'C', 'D');

-- CreateEnum
CREATE TYPE "EmailConfidence" AS ENUM ('HIGH', 'MEDIUM', 'LOW', 'DO_NOT_CONTACT');

-- CreateEnum
CREATE TYPE "LeadStatus" AS ENUM ('NEW', 'REVIEWED', 'EMAIL_FOUND', 'EMAIL_VERIFIED', 'READY_TO_CONTACT', 'CONTACTED', 'REPLIED', 'NOT_RELEVANT', 'DO_NOT_CONTACT');

-- CreateEnum
CREATE TYPE "EmailType" AS ENUM ('PERSONAL', 'COMPANY', 'UNKNOWN');

-- CreateEnum
CREATE TYPE "ActivityLevel" AS ENUM ('VERY_ACTIVE', 'ACTIVE', 'MODERATE', 'LOW', 'UNKNOWN');

-- CreateEnum
CREATE TYPE "LeadSource" AS ENUM ('LINKEDIN', 'X_TWITTER', 'FARCASTER', 'LENS', 'DISCORD', 'TELEGRAM', 'SUBSTACK', 'MIRROR', 'MEDIUM', 'YOUTUBE', 'PODCAST', 'CRYPTO_EVENT', 'VC_PORTFOLIO', 'DAO_FORUM', 'GITHUB', 'COMPANY_WEBSITE', 'CRYPTO_NEWSLETTER', 'REDDIT', 'BITCOINTALK', 'QUORA', 'MANUAL', 'OTHER');

-- CreateEnum
CREATE TYPE "KeywordCategory" AS ENUM ('IDENTITY', 'FOUNDER_INVESTOR', 'BUILDER_CONTRIBUTOR', 'CONTENT_EDUCATION', 'BELIEF_PHILOSOPHY', 'RETAIL_HOLDER', 'ECOSYSTEM', 'NICHE', 'ACTIVITY_SIGNAL', 'EMAIL_DISCOVERY', 'EXCLUSION');

-- CreateTable
CREATE TABLE "Lead" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "linkedinUrl" TEXT,
    "twitterUrl" TEXT,
    "role" TEXT,
    "company" TEXT,
    "companyWebsite" TEXT,
    "cryptoNiche" TEXT,
    "ecosystem" TEXT,
    "beliefSignal" TEXT,
    "activityLevel" "ActivityLevel" NOT NULL DEFAULT 'UNKNOWN',
    "tags" TEXT[],
    "email" TEXT,
    "emailSource" TEXT,
    "emailConfidence" "EmailConfidence",
    "emailVerified" BOOLEAN NOT NULL DEFAULT false,
    "emailType" "EmailType" NOT NULL DEFAULT 'UNKNOWN',
    "priority" "Priority" NOT NULL DEFAULT 'C',
    "status" "LeadStatus" NOT NULL DEFAULT 'NEW',
    "sourceFound" "LeadSource",
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Lead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmailChecklist" (
    "id" TEXT NOT NULL,
    "leadId" TEXT NOT NULL,
    "checkedLinkedinLinks" BOOLEAN NOT NULL DEFAULT false,
    "checkedTwitterBio" BOOLEAN NOT NULL DEFAULT false,
    "checkedPersonalWebsite" BOOLEAN NOT NULL DEFAULT false,
    "checkedCompanyWebsite" BOOLEAN NOT NULL DEFAULT false,
    "checkedTeamPage" BOOLEAN NOT NULL DEFAULT false,
    "checkedContactPage" BOOLEAN NOT NULL DEFAULT false,
    "checkedSubstack" BOOLEAN NOT NULL DEFAULT false,
    "checkedLinktree" BOOLEAN NOT NULL DEFAULT false,
    "usedDiscoveryTool" BOOLEAN NOT NULL DEFAULT false,
    "verifiedEmail" BOOLEAN NOT NULL DEFAULT false,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EmailChecklist_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Keyword" (
    "id" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "category" "KeywordCategory" NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Keyword_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Lead_status_idx" ON "Lead"("status");

-- CreateIndex
CREATE INDEX "Lead_priority_idx" ON "Lead"("priority");

-- CreateIndex
CREATE INDEX "Lead_emailConfidence_idx" ON "Lead"("emailConfidence");

-- CreateIndex
CREATE INDEX "Lead_createdAt_idx" ON "Lead"("createdAt");

-- CreateIndex
CREATE INDEX "Lead_ecosystem_idx" ON "Lead"("ecosystem");

-- CreateIndex
CREATE INDEX "Lead_sourceFound_idx" ON "Lead"("sourceFound");

-- CreateIndex
CREATE UNIQUE INDEX "EmailChecklist_leadId_key" ON "EmailChecklist"("leadId");

-- CreateIndex
CREATE INDEX "Keyword_category_idx" ON "Keyword"("category");

-- CreateIndex
CREATE INDEX "Keyword_enabled_idx" ON "Keyword"("enabled");

-- CreateIndex
CREATE UNIQUE INDEX "Keyword_text_category_key" ON "Keyword"("text", "category");

-- AddForeignKey
ALTER TABLE "EmailChecklist" ADD CONSTRAINT "EmailChecklist_leadId_fkey" FOREIGN KEY ("leadId") REFERENCES "Lead"("id") ON DELETE CASCADE ON UPDATE CASCADE;

